{{#if latestReading}}
<div class="columns">
    <div class="column is-one-fifth">
        <div class="card notification is-success">
            <div class="title is-3">
                {{title}}
            </div>
            <div class="columns is-mobile">
                <div class="column is-three-quarters">
                    <p>Lat: {{station.lat}}</p>
                    <p>Lng: {{station.lon}}</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                </div>
                <div class="column is-one-quarter">
                    {{>icons/location }}
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="card notification is-success">
            <div class="title is-3">
                Weather
            </div>
            <div class="columns is-mobile">
                <div class="column is-three-quarters">
                    <p>{{latestWeather}}</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="card notification is-success">
            <div class="title is-3">
                Temp
            </div>
            <div class="columns is-mobile">
                <div class="column is-three-quarters">
                    <p> {{latestTempC}} C</p>
                    <p> {{latestTempF}} F</p>
                    <p> Min: {{minTemp.temperature}} C</p>
                    <p> Max: {{maxTemp.temperature}} C</p>
                    {{#if tempUpTrend}}
                      <p><i class="fas fa-arrow-up"></i></p>
                    {{/if}}
                    {{#if tempDownTrend}}
                      <p><i class="fas fa-arrow-down"></i></p>
                    {{/if}}
                </div>
                <div class="column is-one-third">
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="card notification is-success">
            <div class="title is-3">
                Wind
            </div>
            <div class="columns is-mobile">
                <div class="column is-three-quarters">
                    <p>{{latestWindSpeedBft}} Bft</p>
                    <p>{{latestCompassDirection}}</p>
                    <p>Feels: {{latestWindChill}} C</p>
                    <p> Min: {{minWindSpeed.windSpeed}} Bft</p>
                    <p> Max: {{maxWindSpeed.windSpeed}} Bft</p>
                    {{#if windUpTrend}}
                      <p><i class="fas fa-arrow-up"></i></p>
                    {{/if}}
                    {{#if windDownTrend}}
                      <p><i class="fas fa-arrow-down"></i></p>
                    {{/if}}
                </div>
                </div>
              </div>
            </div>
    <div class="column is-one-fifth">
        <div class="card notification is-success">
            <div class="title is-3">
                Pressure
            </div>
            <div class="columns is-mobile">
                <div class="column is-three-quarters">
                    <p>{{latestPressure}} hPa</p>
                    <p> Min: {{minPressure.pressure}} hPa</p>
                    <p> Max: {{maxPressure.pressure}} hPa</p>
                    {{#if pressureUpTrend}}
                      <p><i class="fas fa-arrow-up"></i></p>
                    {{/if}}
                    {{#if pressureDownTrend}}
                      <p><i class="fas fa-arrow-down"></i></p>
                    {{/if}}
                </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}