<div class="columns">
    <div class="column is-one-fifth">
        <div class="card notification is-success">
            <div class="title is-3">
                {{title}}
            </div>
            <div class="columns is-mobile">
                <div class="column is-three-quarters">
                    <p>Lat: {{station.latitude}}</p>
                    <p>Lng: {{station.longitude}}</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                </div>
                <div class="column is-one-quarter">
                    {{>icons/location }}
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="card notification is-success">
            <div class="title is-3">
                Weather
            </div>
            <div class="columns is-mobile">
                <div class="column is-three-quarters">
                    <p>{{latestWeather}}</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                </div>
                <div class="column is-one-quarter">
                    <i class="fas fa-sun fa-3x"></i> 
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="card notification is-success">
            <div class="title is-3">
                Temp
            </div>
            <div class="columns is-mobile">
                <div class="column is-three-quarters">
                    <p> {{latestTempC}} C</p>
                    <p> {{latestTempF}} F</p>
                    <p> Min: {{minTemp.temperature}} C</p>
                    <p> Max: {{maxTemp.temperature}} C</p>
                    <p class="is-invisible">U+0020</p>
                </div>
                <div class="column is-one-third">
                  {{#if latestTempC}}
{{>icons/temp-freezing }}
                  {{else}}
                  <p> no temp entered </p>
{{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="card notification is-success">
            <div class="title is-3">
                Wind
            </div>
            <div class="columns is-mobile">
                <div class="column is-three-quarters">
                    <p>{{latestWindSpeedBft}} Bft</p>
                    <p>{{latestCompassDirection}}</p>
                    <p>Feels: {{latestWindChill}} C</p>
                    <p> Min: {{minWindSpeed.windSpeed}} Bft</p>
                    <p> Max: {{maxWindSpeed.windSpeed}} Bft</p>
                  {{!
                    <p> Max: ${_station.maxWindSpeed}</p>
                    <p> Min: ${_station.minWindSpeed}</p>
                    }}
                </div>
              {{!
                <div class="column is-one-third">
                    #{if reading.getBeaufort() >= 0 && reading.getBeaufort() < 4}
                    <i class="fas fa-smog fa-3x"></i>
                    #{/if}
                    #{elseif reading.getBeaufort() >= 4 && reading.getBeaufort() <= 6}
                    <i class="fa-solid fa-wind fa-3x"></i>
                    #{/elseif}
                    #{elseif reading.getBeaufort() > 6 && reading.getBeaufort() <= 9}
                    <i class="fa-solid fa-exclamation fa-3x"></i>
                    #{/elseif}
                    #{elseif reading.getBeaufort() > 9}
                    <i class="fa-solid fa-triangle-exclamation fa-3x"></i>
                    #{/elseif}
                    #{else}
                    <i></i>
                    #{/else}
                </div>
                }}
              </div>
            </div>
        </div>
    <div class="column is-one-fifth">
        <div class="card notification is-success">
            <div class="title is-3">
                Pressure
            </div>
            <div class="columns is-mobile">
                <div class="column is-three-quarters">
                    <p>{{latestPressure}} hPa</p>
                    <p> Min: {{minPressure.pressure}} hPa</p>
                    <p> Max: {{maxPressure.pressure}} hPa</p>
                  {{!
                    <p>Max: ${_station.maxPressure}</p>
                    <p>Min: ${_station.minPressure}</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                    }}
                </div>
                <div class="column is-one-quarter">
                    <i class="fa-solid fa-gauge fa-3x"></i>
                </div>
            </div>
        </div>
    </div>
</div>